@model BookStation.Models.FavouriteBook

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>

<form asp-action="Delete">
    <input type="hidden" asp-for="FavouriteBookId" />
    <input type="submit" value="Delete" class="btn btn-danger" />
</form>